<nav class="nav-bar" data-navbar>
    <img src="/public/resource/images/Logo.png" alt="" class="logo">
    <div class="nav-links">
        <a href="/" class="navbar-link" data-nav-link>Home</a>
        <a href="/market-activity" class="nav-link" data-nav-link>Market Activity</a>
        <a href="#" class="nav-link" data-nav-link>Solutions</a>
        <a href="/news" class="nav-link" data-nav-link>News & Insights</a>
    </div>
    <div class="signing">
        <a href="/login" class="sign-link">Login</a>
        <a href="/register" class="sign-link signup">Sign up</a>
        <button class="nav-toggle-btn" aria-label="Toggle menu" data-nav-toggler>
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
        </button>
    </div>



</nav>